body {
    margin: 0;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #ffff;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 99vw;
}

#navbarLogo {
    flex: 0 1 15%;
    font-size: 24px;
}

#navbarNavigation {
    flex: 0 1 70%;
    font-size: 12px;
    display: flex;
    gap: 32px;
}

#navbarUser {
    flex: 0 1 12%;
    font-size: 12px;
    display: flex;
    gap: 25px;
}
#page1 {
    background-image: url("./assets/main-bg.jpg");
    background-size: cover;
    background-repeat: no-reapeat;
    background-position: absolute;
    min-height: 100vh;
}

#page1 .conten1 {
    position: absolute;
    height: 73.12px;
    left: 9.22%;
    right: 10.47%;
    top: calc(50% - 73.12px/2 - 130.06px);
    font-family: Arial;
    font-size: 25px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 3px;
    text-align: center;
    color: #FFFFFF;
}

#page1 .conten2 {
    position: absolute;
    left: 33.84%;
    right: 29.66%;
    top: 40%;
    bottom: 50.89%;
    font-family: Arial;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#page1 .conten3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 200px;
    border-radius: 10px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    position: absolute;
    left: 40%;
    right: 40%;
    top: 18%;
    bottom: 40%;
}

#page1 .conten4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: justified;
    position: absolute;
    left: 47%;
    right: 24%;
    top: 90%;
    bottom: 50%;
    color: #FFFFFF; 
}

#page2 {
    background-image: url("./assets/the-games-bg.jpg");
    background-size: cover;
    background-repeat: no-reapeat;
    background-position: absolute;
    min-height: 100vh;
}

#page2 .conten5 {
position: absolute;
left: 19%;
right: 12%;
top: 125%;
bottom: 68.64%;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
letter-spacing: 2px;
color: #FFFFFF;
}

#page2 .conten6 {
    position: absolute;
    height: 70px;
    left: 10%;
    right: 50%;
    top: 130%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#page2 .container2 {
    padding: 50px 20px;
    position: absolute;
    width: 600px;
    height: 800px;
    left: 600px;
    top: 700px;
}

#page2 .container2 .carousel-indikators {
    background-color: #fff;
}

#page2 .container2 .carousel-control-prev {
    margin-left: -10%;
}

#page2 .container2 .carousel-control-next {
    margin-right: -10%;
}

#page2 .container2 .carousel-indikators {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0px;
    border: 2px solid white;
    background-color: transparent;
}
#page3 {
    background-image: url("./assets/features.jpg");
    background-size: cover;
    background-repeat: no-reapeat;
    background-position: absolute;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 120px;
    line-height: 50px;
}

#page3 .container3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    display: grid;
    position: absolute;
    width: 600px;
    height: 20px;
    left: 750px;
    top: 1400px;
}

#page3 .container3 .title3 {
    font-size: 20px;
    color: #FFB548;
}
#page4 {
    background-image: url("./assets/requirements.png");
    background-size: cover;
    background-repeat: no-reapeat;
    background-position: absolute;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 120px;
}

#page4 .item01 {
    position: absolute;
    color: #fff;
    left: 39.27%;
    right: 36.26%;
    top: 1820px;
    bottom: 82%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;

}
#page4 .container {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    width: 50%;
    display: grid;
    grid-template-areas: 
        "title title"
        "OS PROCESSOR"
        "MEMORY STORAGE"
        "GRAPHICS GRAPHICS" ;
}

#page4 .container .item {
    border: 1px solid #979797;
    padding: 2%;
}

#page4 .container .item1 {
    grid-area: title;
    font-size: 20px;
}

#page4 .container .item2 {
    grid-area: OS;
}

#page4 .container .item3 {
    grid-area: PROCESSOR;
}

#page4 .container .item4 {
    grid-area: MEMORY;
}

#page4 .container .item5 {
    grid-area: STORAGE;
}

#page4 .container .item6 {
    grid-area: GRAPHICS;
}

#page4 .container .title {
    font-size: 20px;
    color: #FFB548;
}

#page4 .container .conten {
    font-size: 40px;
}

#page5 {
    background-image: url("./assets/top-score-bg.png");
    background-size: cover;
    background-color: rgb(59, 51, 51);
    background-repeat: no-reapeat;
    background-position: absolute;
    min-height: 100vh;
}

#page5 .item7 {
    position: absolute;
    left: 12%;
    right: 65.35%;
    top: 430%;
    bottom: 600%;
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    text-align: left;
    color: #fff;
}

#page5 .item8 {
    position: absolute;
    left: 12%;
    right: 65.35%;
    top: 450%;
    bottom: 700%;
    font-family: Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

#page5 .item9 {
    position: absolute;
    left: 12%;
    right: 73%;
    top: 470%;
    bottom: 40.3%;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 6px;
    text-align: center;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    text-transform: lowercase;
    color: #1A1917; 
    position: absolute;
}

#page5 .container4 {
    color: #fff;
    position: absolute;
    display: grid;
    position: absolute;
    left: 60.26%;
    right: 8.31%;
    top: 425%;
    bottom: 64.37%;
}

#page5 .container4 .item10 {
    border: 1px solid #fff;
}

#page5 .container4 .item11 {
    border: 1px solid #fff;
}

#page5 .container4 .item12 {
    border: 1px solid #fff;
}